# Unit 1 Python Fundamentals

In [1]:
#my first python program
print("Hello CKPCET")

Hello CKPCET

In [2]:
print("Hello Surat")

Hello Surat

In [14]:
#variable and data types
A=77
A

77

In [5]:
var1 = 7      #int 
var2 = 7.77   #float
var3 = "Joy"  #string
var4 = True   #boolean

print(var1)
print(var2)
print(var3)
print(var4)

7
7.77
Joy
True

In [10]:
type(var1)

int

In [11]:
type(var2)

float

In [12]:
type(var3)

str

In [13]:
type(var4)

bool

In [25]:
a = 88
print(a,type(a))

b = 89.89
print(b,type(b))

c = "Ram"
print(c,type(c))

d = False
print(d,type(d))

e = 176
print(e,type(e))

f = 0.97
print(f,type(f))

g = True
print(g,type(g))

h = "Shyam"
print(h,type(h))

i = 45
print(i,type(i))

j = 456.65
print(j,type(j))

k = 5**2
print(k,type(k))

l = "Name"
print(l,type(l))

m = -33
print(m,type(m))

n = True
print(n,type(n))

o = 5/5
print(o,type(o))

88 <class 'int'>
89.89 <class 'float'>
Ram <class 'str'>
False <class 'bool'>
176 <class 'int'>
0.97 <class 'float'>
True <class 'bool'>
Shyam <class 'str'>
45 <class 'int'>
456.65 <class 'float'>
25 <class 'int'>
Name <class 'str'>
-33 <class 'int'>
True <class 'bool'>
1.0 <class 'float'>

In [23]:
#mathematical operations on variables

In [30]:
a=10
b=2

print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a**b)

12
8
20
5.0
100

In [34]:
#take 2 numbers as input from the user and multiply both numbers
num1 = int(input("Enter num 1 : "))
num2 = int(input("Enter num 2 : "))
multiply = num1 * num2
addition = num1 + num2
subtraction = num1 - num2
division = num1 / num2
print("Product is",multiply)
print("addition is",addition)
print("subtraction is",subtraction)
print("division is",division)

Enter num 1 : 10
Enter num 2 : 2
Product is 20
addition is 12
subtraction is 8
division is 5.0

In [42]:
#string concatenation
str1 = "Joy"
str2 = "Anilbhai"
str3 = "Toor"
name = str1 + str2 + str3
print(name)

JoyAnilbhaiToor

In [43]:
print(str1 + " " + str2 + " " + str3)

Joy Anilbhai Toor

In [45]:
print(len(name))

15

# String Slicing

In [51]:
name[0:3]

'Joy'

In [52]:
print(name[0:3])

Joy

In [57]:
name[:len(name)]

'JoyAnilbhaiToor'

In [56]:
name[11:15]

'Toor'

In [58]:
name[:]

'JoyAnilbhaiToor'

# Tuple

In [60]:
#create tuples

tup1 = ("Joy", 20, "Surat", 99.99)
print(tup1)
print(type(tup1))

('Joy', 20, 'Surat', 99.99)
<class 'tuple'>

In [61]:
tup1[3]

99.99

In [62]:
tup1[0:3]

('Joy', 20, 'Surat')

In [63]:
tup1[:]

('Joy', 20, 'Surat', 99.99)

In [66]:
tup2 = ("Ram", 33, "Ahmedabad", True)
tup3 = tup1 + tup2
print(tup3)

('Joy', 20, 'Surat', 99.99, 'Ram', 33, 'Ahmedabad', True)

In [67]:
#Tuples are immutable
del tup3[2]

TypeError: 'tuple' object doesn't support item deletion

# List in python

In [77]:
#create list

list1 = ["jash", 21, 45.45, "University", False,"Mehta"]
print(list1)
print(type(list1))

['jash', 21, 45.45, 'University', False, 'Mehta']
<class 'list'>

In [78]:
len(list1)

6

In [79]:
print(list1)
list1.remove(21)
print(list1)

['jash', 21, 45.45, 'University', False, 'Mehta']
['jash', 45.45, 'University', False, 'Mehta']

In [80]:
# append inserts at last element
print(list1)
list1.append("joy")
print(list1)

['jash', 45.45, 'University', False, 'Mehta']
['jash', 45.45, 'University', False, 'Mehta', 'joy']

# Dictionary

In [83]:
dict1 = {
    "university" : "C.K.P.C.E.T",
    "Course" : "SDE",
    "Branch" : "Computer"
}
print(dict1)
print(type(dict1))
print(len(dict1))

{'university': 'C.K.P.C.E.T', 'Course': 'SDE', 'Branch': 'Computer'}
<class 'dict'>
3

# Installing packages

In [ ]:
!pip install <package name>
!conda install <package name>

# Python Conditional Statements

In [90]:
#if statement

num = 7
if num > 0:
    print(num, "is a positive number")
    print("This is true")

7 is a positive number
This is true

In [93]:
#if-else statement

num = -7
if num > 0:
    print(num, "is a positive number")
else :
    print(num, "is a negative number")

-7 is a negative number